@page 
@model Tasker.Pages.IndexModel
@{ 
    ViewData["Title"] = "Index";
}
<h1>All Tasks</h1>
<table>
    @foreach (var task in Model.Tasks)
    {
    <tr>
        <th>@task.Id</th>
        <th>@task.Title</th>
        <th>@task.Description</th>
        <th>@task.Priority</th>
    </tr>
    }
</table>
