<h1>All Tasks</h1>
<table>
    @foreach (var task in Model.Task)
    {
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
    }
</table>
