<h1>All Tasks</h1>
<table>
    @foreach (var task in Model.Task)
    {
    <tr>
        <th>@task.Id</th>
        <th>@task.Title</th>
        <th>@task.Description</th>
        <th>@task.Priority</th>
    </tr>
    }
</table>
